.contacts{
    height: auto;
    width: 50%;
    display: grid;
    text-align: center;
    margin: 0 auto;
    padding: 115px;
}
.contacts__title{
    font-size: 34px;
    line-height: 42px;
}
.contacts__info{
    width: 70%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 23px;
}
.contacts__info__p{
    margin: 0;
}
.contacts__button{
    border-radius: 20px;
    width: 25%;
    margin: 35px auto;
    height: 40px;
    color: white;
    background: black;
    box-shadow: 0px 1px 3px gray;
}
.image{
    margin: 40px 30px 30px;
}
.contacts__social_network{
    color: #828282;
    font-size: 14px;
    line-height: 17px;
}
.contacts__social_network__p{
    margin: 0 auto;
}
@media (min-width: 992px) and (max-width: 1199px){
    .contacts{
        padding: 90px;
    }
}

@media (min-width:767px) and (max-width: 991px){
    .image{
        height: auto;
        width: auto;
        margin: 35px 25px 30px;
    }
    .contacts__button{
        width: 45%;
    }
}

@media (max-width: 767px){
    .contacts{
        width: 70%;
    }
    .contacts__button{
        width: 35%;
    }
    .about__ul{
        width: 55vw;
        font-size: 18px;
    }
}

@media (max-width: 480px){
    .contacts{
        width: 100%;
        padding: 100px 0px;
    }
    .contacts__button{
        width: 80%;
        font-size: 19px;
    }
}
@media (max-width: 480px) and (min-height: 601px) and (max-height: 770px){
    .image{
        margin: 30px 7% 30px;
    }
}

@media (max-width: 480px) and (min-height: 500px) and (max-height: 640px){
    .image{
        margin: 30px 7% 30px;
    }
}

@media (max-width: 480px) and (max-height: 499px){
    .image{
        margin: 30px 5% 30px;
    }
}